<ul class="collection">

    <a href="{{ path('tmpl_creator') }}" class="collection-item black-text">Nowy szablon</a>
    <a href="{{ path('templates') }}" class="collection-item black-text">Szablony</a>
    <a href="{{ path('create_form') }}" class="collection-item black-text">Nowa ankieta</a>
    <a href="{{ path('forms') }}" class="collection-item black-text">Ankiety</a>
    <a href="{{ path('group') }}" class="collection-item black-text">Subskrybenci</a>

</ul>

