
{% extends ':layout:base.html.twig' %}

{% block title %}Grupy{% endblock %}

{% block stylesheets %}

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <style type="text/css" media="screen">

        a:link {
            color:black;
        }

        a:visited {
            color:black;
        }

        body {
            display: flex;
            min-height: 100vh;
            flex-direction: column;
        }

        main {
            flex: 1 0 auto;
        }

    </style>

{% endblock %}

{% block content%}


<div class="row" style="clear:both;">

    <div style="margin-top: 30px; margin-bottom: 20px;" class="centered" ><h5 >Grupy</h5></div>

    <div class="col s8 offset-s2" >
        <table class="row bordered  centered responsive-table">
            <thead>
                <tr>

                    <th >Nazwa</th>

                    <th>Wgraj CSV</th>
                    <th>Generuj CSV</th>
                    <th>Usuń</th>
                </tr>
            </thead>

            <tbody>
                {% for group in groups %}
                    <tr>
                        <td  ><a href="{{ path('groupIndex', {'id': group.id}) }}">{{ group.name }}</a></td>
                        <td><a href="{{ path('groupPushCSV', {'id': group.id}) }}"><i class="material-icons">call_received</i></a></td>
                        <td><a href="{{ path('groupPullCSV', {'id': group.id}) }}"><i class="material-icons">call_made</i></a></td>
                        <td><a href="{{ path('groupDelete', {'id': group.id}) }}"> <i class="material-icons">delete</i></a></td>

                    </tr>
                {% endfor %}
            </tbody>


        </table>
    </div>

    {% include ':dialogs:modal_add_group.html.twig' %}


    <div class="fixed-action-btn" style="bottom: 45px; right: 45px;">
        <a href="#modal_add_group" class="modal-trigger btn-floating btn-large red">
            <i class="large material-icons">add</i>
        </a>
    </div>

</div>

{% endblock %}


{% block javascripts %}
    <script type="text/javascript" >
        $(document).ready(function(){
            // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
            $('.modal-trigger').leanModal();

            {% if isInvalid == true %}
                 $('#modal_add_group').openModal();
            {% endif %}
        });



    </script>
{% endblock %}

