
{% extends ':layout:base.html.twig' %}

{% block title %}Grupy{% endblock %}

{% block stylesheets %}

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <style type="text/css" media="screen">

        a:link {
            color:black;
        }

        a:visited {
            color:black;
        }

        body {
            display: flex;
            min-height: 100vh;
            flex-direction: column;
        }

        main {
            flex: 1 0 auto;
        }

    </style>

{% endblock %}

{% block content%}



<div class="row" style="clear:both;">

    <div class="row" style="clear:both;">

        <div class="col s6" >
            <ul id="groupList" class="row collection" style="height: 300px;margin-bottom: 0px;" >
                <li class="collection-header " style="background-color: rgba(0, 0, 0, 0.11)" >
                    <h6 style="padding: 5px;padding-left:10px; display: block;float: left">Grupy</h6>
                    <button id="btn_modal_add_group" data-target="modal_add_group" style="float: right;padding-left: 10px;padding-right: 10px;" class="waves-effect waves-teal btn-flat"  >dodaj<i class="material-icons right">add</i></button>
                    <button id="btn_modal_import_csv" data-target="modal_import_csv" style="float: right;padding-left: 10px;padding-right: 10px;" class="waves-effect waves-teal btn-flat"  ><i class="material-icons">note_add</i></button>
                    <button id="btn_modal_delete_group" data-target="modal_delete_group" style="float: right;padding-left: 10px;padding-right: 10px;" class="modal-trigger waves-effect waves-teal btn-flat"  ><i class="material-icons">delete</i></button>
                     <div style="clear: both" />
                </li>
                {% for group in groups %}
                    <a class="collection-item" data-id="{{ group.id }}" data-name="{{ group.name }}" style="padding: 5px;cursor: pointer;" >
                        <span >{{ group.name }}</span>
                        <span class="badge">1</span>
                    </a>
                {% endfor %}
            </ul>
        </div>

        <div class="col s6" >
            <ul id="subscriberList" class="row collection" style="height: 300px;margin-bottom: 0px;" >
                <!-- BEGIN: Underscore Template Definition. -->
                <script type="text/template" id="subscriber_list_template">
                    <li class="collection-header " style="background-color: rgba(0, 0, 0, 0.11)" >
                        <h6 style="padding: 5px;padding-left:10px; display: block;float: left">Subskrybenci</h6>

                        <button id="btn_modal_add_subscriber" data-target="modal_add_subscriber" style="float: right;padding-left: 10px;padding-right: 10px;" class="waves-effect waves-teal btn-flat"  >dodaj<i class="material-icons right">add</i></button>
                        <button id="btn_modal_delete_subscribers" data-target="modal_delete_subscribers" style="float: right;padding-left: 10px;padding-right: 10px;" class="waves-effect waves-teal btn-flat"  ><i class="material-icons">delete</i></button>
                        <div style="clear: both" />
                    </li>
                    <% _.each( rc.listItems, function( listItem ){ %>
                        <% if ( listItem.viewType == "item") { %>
                        <a class="collection-item" data-id="<%- listItem.id %>" data-name="<%- listItem.data %>" style="padding: 5px;cursor: pointer;" >
                            <span ><%- listItem.data %></span>
                            <!--span class="badge"><%- listItem.id %></span-->
                        </a>
                        <% }else if( listItem.viewType == "loader" ){ %>
                        <% } %>
                    <% }); %>
                    <div id="subscriberList_preloader" class="collection-item" style="width: 25px;margin: auto" >
                        <div class="preloader-wrapper small active">
                            <div class="spinner-layer spinner-green-only">
                                <div class="circle-clipper left">
                                    <div class="circle"></div>
                                </div><div class="gap-patch">
                                    <div class="circle"></div>
                                </div><div class="circle-clipper right">
                                    <div class="circle"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </script>
                <!-- END: Underscore Template Definition. -->
            </ul>
        </div>

    </div>

    <!-- Modal Structure -->
    <div style="width: 500px;height: 300px;" id="modal_import_csv" class="modal modal-fixed-footer">
        <div class="modal-content">
            <h5>Import z pliku</h5>
            <p>Wgraj plik *.csv z listą maili</p>
            <form>
                <div style="margin: 0 auto;" >
                    <p class="center">
                        <img id="img_modal_import_csv" onclick="$('#file_modal_import_csv').click()"
                             style="width:70px;height: 70px;cursor: pointer; margin: 0 auto; "
                             src="{{ asset('bundles/images/icon_csv_import.png') }}" alt="podaj plik *.csv" class="center tooltipped"
                        >
                    </p>
                    <div id="progress_modal_import_csv" class="progress" style="display: none;" >
                        <div class="determinate" style="width: 0%"> </div>
                    </div>
                </div>
                <div class="file-field input-field" style="display: none;" >
                    <div class="btn">
                        <span>File</span>
                        <input id="file_modal_import_csv" type="file" name="files[]" data-url="{{ path( "upload_tmp_file" ) }}" /> <!-- page.url( 'FileUpload' , 'uploadUserAvatar' ) -->
                    </div>
                </div>

            </form>
        </div>
        <div  class="modal-footer">
            <a id="confirm_modal_import_csv" href="#" class="modal-action waves-effect waves-green btn-flat ">Dodaj</a>
            <a href="#" class="modal-action modal-close waves-effect waves-green btn-flat ">Anuluj</a>
        </div>
    </div>
    <!-- Modal Structure modal_add_subscriber -->
    <div style="width: 500px;height: 300px;" id="modal_add_subscriber" class="modal modal-fixed-footer">
        <div class="modal-content">
            <h4>modal_add_subscriber</h4>
            <p>modal_add_subscriber</p>
        </div>
        <div class="modal-footer">
            <a href="#" class="modal-action waves-effect waves-green btn-flat ">Dodaj</a>
            <a href="#" class="modal-action modal-close waves-effect waves-green btn-flat ">Anuluj</a>
        </div>
    </div>
    <!-- Modal Structure -->
    <div style="width: 500px;height: 300px;" id="modal_add_group" class="modal modal-fixed-footer">
        <div class="modal-content">
            <h5>Dodaj nową grupę</h5>
            <p>Podaj nazwę nowej grupy, opcjonalnie wgraj plik *.csv z listą maili</p>
            <form>
                <div class="input-field col s6">
                    <input id="input_modal_add_group" type="text" class="validate">
                    <label for="input_modal_add_group">Nazwa nowej grupy</label>
                </div>

                <div style="margin: 0 auto;" >
                    <p class="center">
                        <img id="img_modal_add_group" onclick="$('#file_modal_add_group').click()"
                             style="width:70px;height: 70px;cursor: pointer; margin: 0 auto; "
                             src="{{ asset('bundles/images/icon_csv_import.png') }}" alt="podaj plik *.csv" class="center tooltipped"
                        >
                    </p>
                    <div id="progress_profile" class="progress" style="display: none;" >
                        <div class="determinate" style="width: 0%"> </div>
                    </div>
                </div>
                <div class="file-field input-field" style="display: none;" >
                    <div class="btn">
                        <span>File</span>
                        <input id="file_modal_add_group" type="file" name="files[]" data-url="{{ path( "upload_tmp_file" ) }}" /> <!-- page.url( 'FileUpload' , 'uploadUserAvatar' ) -->
                    </div>
                </div>

            </form>
        </div>
        <div  class="modal-footer">
            <a id="confirm_modal_add_group" href="#" class="modal-action waves-effect waves-green btn-flat ">Dodaj</a>
            <a href="#" class="modal-action modal-close waves-effect waves-green btn-flat ">Anuluj</a>
        </div>
    </div>
    <!-- Modal Structure modal_add_subscriber -->
    <div style="width: 500px;height: 300px;" id="modal_add_subscriber" class="modal modal-fixed-footer">
        <div class="modal-content">
            <h4>modal_add_subscriber</h4>
            <p>modal_add_subscriber</p>
        </div>
        <div class="modal-footer">
            <a href="#" class="modal-action waves-effect waves-green btn-flat ">Dodaj</a>
            <a href="#" class="modal-action modal-close waves-effect waves-green btn-flat ">Anuluj</a>
        </div>
    </div>
    <!-- Modal Structure modal_delete_subscribers -->
    <div style="width: 400px;height: 280px;" id="modal_delete_subscribers" class="modal modal-fixed-footer">
        <div class="modal-content">
            <h5>Usuń subskrybentów z grupy</h5>
            <p id="desc_modal_delete_subscribers" >desc_modal_delete_subscribers</p>
            <p>
                <input id="cbx_action_modal_delete_subscribers" class="filled-in" type="checkbox"  />
                <label for="cbx_action_modal_delete_subscribers">Usuń na stałe</label>
                <span>elementy zostaną na stałe usunięte z bazy danych</span>
            </p>
        </div>
        <div class="modal-footer">
            <a id="confirm_action_modal_delete_subscribers" href="#" class="modal-action waves-effect waves-green btn-flat ">Usuń</a>
            <a href="#" class="modal-action modal-close waves-effect waves-green btn-flat ">Anuluj</a>
        </div>
    </div>
    <!-- Modal Structure modal_delete_subscribers -->
    <div  style="width: 400px;height: 280px;"  id="modal_delete_group" class="modal modal-fixed-footer">
        <div class="modal-content">
            <h4>Usuń grupę</h4>
            <p>
                <input id="cbx_action_modal_delete_group" class="filled-in" type="checkbox" />
                <label for="cbx_action_modal_delete_group">Usuń trwale subskrybentów</label>
                <span>elementy zostaną na stałe usunięte z bazy danych</span>
            </p>
        </div>
        <div class="modal-footer">
            <a id="confirm_action_modal_delete_group" href="#" class="modal-action waves-effect waves-green btn-flat ">Usuń</a>
            <a href="#" class="modal-action modal-close waves-effect waves-green btn-flat ">Anuluj</a>
        </div>
    </div>
    <!-- Modal Structure modal_delete_subscribers -->
    <div id="modal_loader" style="width: 280px;height: 145px;" class="modal">
        <div class="modal-content">
            <div style="width: 25px;margin: auto;margin-top: 25px " >
                <div  class="preloader-wrapper small active  ">
                    <div class="spinner-layer spinner-green-only">
                        <div class="circle-clipper left">
                            <div class="circle"></div>
                        </div><div class="gap-patch">
                            <div class="circle"></div>
                        </div><div class="circle-clipper right">
                            <div class="circle"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button  id="trigger_modal_loader" data-target="modal_loader" style="display: none" class="waves-effect waves-teal btn-flat"  ></button>
    <!--
    <div class="fixed-action-btn" style="bottom: 45px; right: 45px;">
        <a href="#modal_add_group" class="modal-trigger btn-floating btn-large red">
            <i class="large material-icons">add</i>
        </a>
    </div>
    -->
</div>

{% endblock %}


{% block javascripts %}
    <script type="text/javascript" src="{{ asset('bundles/ankieter_api/widget/SelectableCollection.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/ankieter_api/widget/ListView.js') }}"></script>

    <script type="text/javascript" >
        $(document).ready(function(){

            var API_HOST = "{{ url('api_host') }}";
            var SERVER = {
                ROUTER : {
                    TEST1 : API_HOST + "/group/test1",
                    TEST2 : API_HOST + "/group/test2/{id}",
                    TMP_FILE_UPLOAD : API_HOST + "/upload_tmp_file",
                    GET_SUBSCRIBERS : API_HOST + "/subscribers/{group_id}",
                    DEL_SUBSCRIBER : API_HOST + "/subscribers/delete/{id}",
                    DEL_SUBSCRIBERS : API_HOST + "/subscribers/delete",
                    REMOVE_SUBSCRIBERS : API_HOST + "/subscribers/remove/{group_id}",
                    DEL_GROUP : API_HOST + "/group/delete/{group_id}",
                    DEL_GROUP_AND_SUBS : API_HOST + "/group/del_sub/{group_id}",
                    ADD_GROUP : API_HOST + "/group/create",
                    IMPORT_CSV : API_HOST + "/group/csv/{group_id}"
                }
            };

            var subscriberList = $('#subscriberList').ListView({
                viewTemplate : "subscriber_list_template",
                onChange : function ( items ){
                    if( subscriberList.selectedItems() > 0 ){
                        $("#btn_modal_delete_subscribers").show();
                    }else{
                        $("#btn_modal_delete_subscribers").hide();
                    }
                }
            });

            var groupList = $('#groupList').SelectableCollection({
                onSelect : function ( item ){
                    if(item){
                        $("#btn_modal_delete_group").show();
                        GroupModule.loadSubscribers(item.id);
                    }else{
                        $("#btn_modal_delete_group").hide();
                    }
                },
                disallowMultiSelect : true
            });
            
            var GroupModule = {
                init : function(){

                    $("#btn_modal_delete_group").hide();

                    $('.modal-trigger').leanModal();

                    $('#trigger_modal_loader').leanModal({
                        in_duration: 50,
                        out_duration: 150,
                        dismissible: false
                    });

                    $('#btn_modal_add_group').leanModal({
                        in_duration: 150,
                        out_duration: 150,
                        ready: function() {
                            $('#input_modal_add_group').val('');
                            $('#file_modal_add_group').val('');
                            $('#img_modal_add_group').attr("src" , "{{ asset('bundles/images/icon_csv_import.png') }}");
                        }
                    });

                    $('#btn_modal_import_csv').leanModal({
                        in_duration: 150,
                        out_duration: 150,
                        ready: function() {
                        }
                    });

                    this.initSubscribersModels();

                    $('#confirm_action_modal_delete_subscribers').click(function() {
                        if(subscriberList.getSelectedItemsIds()) {
                            if ($('#cbx_action_modal_delete_subscribers').prop("checked")) {
                                GroupModule.deleteSubscribers(subscriberList.getSelectedItemsIds());
                            } else {
                                GroupModule.removeSubscribersFromGroup(
                                        subscriberList.getSelectedItemsIds(),
                                        groupList.getSelectedItem().id
                                );
                            }
                        }
                    });

                    $('#confirm_action_modal_delete_group').click(function() {
                        if(groupList.getSelectedItem()) {
                            if ($('#cbx_action_modal_delete_group').prop("checked")) {
                                GroupModule.deleteGroupAndSubscribers(groupList.getSelectedItem().id);
                            } else {
                                GroupModule.deleteGroup(groupList.getSelectedItem().id);
                            }
                        }
                    });

                    $('#confirm_modal_add_group').click(function() {
                        GroupModule.addGroupGroup( $('#input_modal_add_group').val() , $('#file_modal_add_group').val() );
                    });

                    $('#confirm_modal_import_csv').click(function() {
                        //
                    });

                },
                initSubscribersModels : function(){
                    $('#btn_modal_delete_subscribers').leanModal({
                        in_duration: 150,
                        out_duration: 150,
                        ready: function() {
                            var c = subscriberList.countSelectedItems();
                            $('#desc_modal_delete_subscribers').html("Ilość elemantów do usunięcia: " + c);
                        }
                    });
                    $('#btn_modal_add_subscriber').leanModal( );

                    $("#btn_modal_delete_subscribers").hide();
                },
                onError : function(msg){
                    Materialize.toast( msg , 4000 , 'red darken-3' );
                },
                loadSubscribers : function( group_id ){
                    subscriberList.clearList();
                    $("#btn_modal_delete_subscribers").hide();
                    AnkieterApi.REST.get({
                        url : SERVER.ROUTER.GET_SUBSCRIBERS,
                        url_data:{ group_id:group_id },
                        onResult : function(data){
                            subscriberList.setData(data.list);
                            subscriberList.hideLoader();
                            GroupModule.initSubscribersModels();
                        },
                        onError : GroupModule.onError,
                        loaderView : "#subscriberList_preloader"
                    });
                },
                deleteSubscribers : function( toDelete ){
                    $('#modal_delete_subscribers').closeModal();
                    AnkieterApi.REST.post({
                        url : SERVER.ROUTER.DEL_SUBSCRIBERS,
                        data:{ ids: JSON.stringify( toDelete ) },
                        onResult : function(data){
                            subscriberList.deleteFromList(data.deleted_items);
                            GroupModule.initSubscribersModels();
                            subscriberList.hideLoader();
                        },
                        onError : GroupModule.onError,
                        loaderModal : "#modal_loader"
                    });
                },
                removeSubscribersFromGroup : function( toDelete , group_id ){
                    $('#modal_delete_subscribers').closeModal();
                    console.log(toDelete);
                    AnkieterApi.REST.post({
                        url : SERVER.ROUTER.REMOVE_SUBSCRIBERS,
                        url_data : { group_id : group_id },
                        data:{ ids:JSON.stringify( toDelete ) },
                        onResult : function(data){
                            subscriberList.deleteFromList(data.removed_items);
                            GroupModule.initSubscribersModels();
                            subscriberList.hideLoader();
                        },
                        onError : GroupModule.onError,
                        loaderModal : "#modal_loader"
                    });
                },
                applySubscribersToGroup : function(){

                },
                addGroupGroup : function( group_name , file_name ){
                    console.log(file_name);
                    $('#modal_add_group').closeModal();
                    AnkieterApi.REST.post({
                        url : SERVER.ROUTER.ADD_GROUP,
                        data:{
                            group_name:group_name,
                            file_name:file_name
                        },
                        onResult : function(data){
                            groupList.addGroup( data.created );
                        },
                        onError : GroupModule.onError,
                        loaderModal : "#modal_loader"
                    });
                },
                deleteGroup : function( group_id ){
                    $('#modal_delete_group').closeModal();
                    AnkieterApi.REST.post({
                        url : SERVER.ROUTER.DEL_GROUP,
                        url_data:{ group_id:group_id },
                        onResult : function(data){
                            groupList.deleteFromList(data.deleted_items);
                            subscriberList.clearList();
                            GroupModule.initSubscribersModels();
                        },
                        onError : GroupModule.onError,
                        loaderModal : "#modal_loader"
                    });
                },
                deleteGroupAndSubscribers : function( group_id ){
                    $('#modal_delete_group').closeModal();
                    AnkieterApi.REST.post({
                        url : SERVER.ROUTER.DEL_GROUP_AND_SUBS,
                        url_data:{ group_id:group_id },
                        onResult : function(data){
                            groupList.deleteFromList(data.deleted_items);
                            subscriberList.clearList();
                            subscriberList.hideLoader();
                            GroupModule.initSubscribersModels();
                        },
                        onError : GroupModule.onError,
                        loaderModal : "#modal_loader"
                    });
                },
                loadSubscribersFromCSV : function(){

                }
            };

            GroupModule.init();
        });



        var picture_box_onfileuploaded = null;

        function notyfiError(  err ){
            Materialize.toast( err , 4000 , 'red darken-3' );
        }

        $(function () {

            $('#file_modal_add_group').fileupload({
                dataType: 'json',
                add: function (e, data) {

                    data.formData = {user_id: $("#picture_edit_form").attr("data-user_id") };

                    $(this).attr( "data-url" , "" );

                    data.submit();
                    $('#progress_profile').css( "display" , "block" );
                },
                done: function (e, data) {
                    console.log( data.result );
                    if( data.result.success == 1 ){
                        src = "{{ asset('bundles/tmp/images/thumbnail/') }}" + data.result.file.name;
                        $("#img_modal_add_group").attr( "src" , src );
                        if( picture_box_onfileuploaded )
                            picture_box_onfileuploaded(src);
                    }else{
                        notyfiError(data.result.file.error);
                    }

                    $('#progress_profile').delay( 500 ).fadeOut( 800 , function() {
                        $('#progress_profile .determinate').css('width','0%' );
                    });

                },
                progressall: function (e, data) {

                    var progress = parseInt(data.loaded / data.total * 100, 10);
                    $('#progress_profile .determinate').css(
                            'width',
                            progress + '%'
                    );
                },
                acceptFileTypes : "/(\.|\/)(gif|jpe?g|png)$/i",
                maxFileSize : 1500000
            });
        });

        var avatarsUrl = "{{ asset('bundles/tmp/images/') }}";
        var imagesUrl = "{{ asset('bundles/tmp/images/') }}";
        //------------------------------------------------------------------------------------
        function picture_upload_clear(){
            $("#img_modal_add_group").attr( "src" , "{{ asset('bundles/images/icon_csv_import.png') }}" );
        }
        //------------------------------------------------------------------------------------
        function picture_upload_setData( data ){
            if( data.avatar ){
                $("#img_modal_add_group").attr( "src" , avatarsUrl + data.avatar );
                console.log(avatarsUrl + data.avatar);
            }
        }
        //------------------------------------------------------------------------------------


    </script>
{% endblock %}

