
{% extends ':layout:base.html.twig' %}

{% block title %}Grupy{% endblock %}

{% block stylesheets %}

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <style type="text/css" media="screen">

        a:link {
            color:black;
        }

        a:visited {
            color:black;
        }

        body {
            display: flex;
            min-height: 100vh;
            flex-direction: column;
        }

        main {
            flex: 1 0 auto;
        }

    </style>

{% endblock %}

{% block content%}


<div class="row" style="clear:both;">

    <div class="row" style="clear:both;">

        <div class="col s6" >
            <ul id="groupList" class="collection" style="height: 300px;" >
                <li class="collection-header " style="background-color: rgba(0, 0, 0, 0.11)" >
                    <h6 style="padding: 5px;padding-left:10px; display: block;float: left">Grupy</h6>
                    <button data-target="modal_add_group" style="float: right;padding-left: 10px;padding-right: 10px;" class="modal-trigger waves-effect waves-teal btn-flat"  >dodaj<i class="material-icons right">add</i></button>
                    <div style="clear: both" />
                </li>
                {% for group in groups %}
                    <a class="collection-item" data-id="{{ group.id }}" data-name="{{ group.name }}" style="padding: 5px;cursor: pointer;" >
                        <span >{{ group.name }}</span>
                        <span class="badge">1</span>
                    </a>
                {% endfor %}
            </ul>
        </div>

        <div class="col s6" >
            <ul id="subscriberList" class="collection" style="height: 300px;" >
                <!-- BEGIN: Underscore Template Definition. -->
                <script type="text/template" id="subscriber_list_template">
                    <li class="collection-header " style="background-color: rgba(0, 0, 0, 0.11)" >
                        <h6 style="padding: 5px;padding-left:10px; display: block;float: left">Subskrybenci</h6>
                        <div style="float: right;padding-left: 10px;padding-right: 10px;" class="waves-effect waves-teal btn-flat"  >dodaj<i class="material-icons right">add</i></div>
                        <div style="clear: both" />
                    </li>
                    <% _.each( rc.listItems, function( listItem ){ %>
                        <% if ( listItem.viewType == "item") { %>
                        <a class="collection-item" data-id="<%- listItem.id %>" data-name="<%- listItem.data %>" style="padding: 5px;cursor: pointer;" >
                            <span ><%- listItem.data %></span>
                            <span class="badge"><%- listItem.id %></span>
                        </a>
                        <% }else if( listItem.viewType == "loader" ){ %>
                        <% } %>
                    <% }); %>
                    <div class="collection-item" style="width: 30px;margin: auto" >
                        <div class="preloader-wrapper small active">
                            <div class="spinner-layer spinner-green-only">
                                <div class="circle-clipper left">
                                    <div class="circle"></div>
                                </div><div class="gap-patch">
                                    <div class="circle"></div>
                                </div><div class="circle-clipper right">
                                    <div class="circle"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </script>
                <!-- END: Underscore Template Definition. -->
            </ul>
        </div>

    </div>

    <!-- Modal Structure -->
    <div style="width: 500px;height: 300px;" id="modal_add_group" class="modal modal-fixed-footer">
        <div class="modal-content">
            <h5>Dodaj grupe</h5>
            <p>Podaj nazwę nowej grupy, opcjonalnie wgraj plik *.csv z listą maili</p>
            <form>
                <div class="input-field col s6">
                    <input id="group_name" type="text" class="validate">
                    <label for="group_name">Nazwa nowej grupy</label>
                </div>

                <div style="margin: 0 auto;" >
                    <p class="center">
                        <img onclick="$('#fileupload_profile').click()" id="profile_img"
                             style="width:70px;height: 70px;cursor: pointer; margin: 0 auto; "
                             src="{{ asset('bundles/images/avatar-def.png') }}" alt="podaj plik *.csv" class="center tooltipped"
                        >
                    </p>
                    <div id="progress_profile" class="progress" style="display: none;" >
                        <div class="determinate" style="width: 0%"> </div>
                    </div>
                </div>
                <div class="file-field input-field" style="display: none;" >
                    <div class="btn">
                        <span>File</span>
                        <input id="fileupload_profile" type="file" name="files[]" data-url="{{ path( "upload_tmp_file" ) }}" /> <!-- page.url( 'FileUpload' , 'uploadUserAvatar' ) -->
                    </div>
                </div>

            </form>
        </div>
        <div class="modal-footer">
            <a href="#" class="modal-action waves-effect waves-green btn-flat ">Dodaj</a>
            <a href="#" class="modal-action modal-close waves-effect waves-green btn-flat ">Anuluj</a>
        </div>
    </div>
    <!-- Modal Structure -->
    <div style="width: 500px;height: 300px;" id="modal_add_group" class="modal modal-fixed-footer">
        <div class="modal-content">
            <h4>Modal Header</h4>
            <p>A bunch of text</p>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Dodaj</a>
            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Anuluj</a>
        </div>
    </div>

    <div class="col s8 offset-s2" >
        <table class="row bordered  centered responsive-table">
            <thead>
                <tr>

                    <th >Nazwa</th>

                    <th>Wgraj CSV</th>
                    <th>Generuj CSV</th>
                    <th>Usuń</th>
                </tr>
            </thead>

            <tbody>
                {% for group in groups %}
                    <tr>
                        <td  ><a href="{{ path('groupIndex', {'id': group.id}) }}">{{ group.name }}</a></td>
                        <td><a href="{{ path('groupPushCSV', {'id': group.id}) }}"><i class="material-icons">call_received</i></a></td>
                        <td><a href="{{ path('groupPullCSV', {'id': group.id}) }}"><i class="material-icons">call_made</i></a></td>
                        <td><a href="{{ path('groupDelete', {'id': group.id}) }}"> <i class="material-icons">delete</i></a></td>

                    </tr>
                {% endfor %}
            </tbody>


        </table>
    </div>

    {% include ':dialogs:modal_add_group.html.twig' %}


    <div class="fixed-action-btn" style="bottom: 45px; right: 45px;">
        <a href="#modal_add_group" class="modal-trigger btn-floating btn-large red">
            <i class="large material-icons">add</i>
        </a>
    </div>

    <form id="picture_edit_form" data-user_id="" class="row" style="margin: 0 auto;width: 100%;min-height: 150px;" >

        <div class="col s6" >

            <div class="row" style="margin: 0 auto;" >
                <div class="col s6" >
                    <p style="text-align: center; font-size: 11px;" >skan zdjęcia typu paszportowe</p>
                </div>
                <div class="col s6" >
                    <p class="center">
                        <img onclick="$('#fileupload_profile').click()" id="profile_img"
                             style="width:70px;height: 70px;cursor: pointer; margin: 0 auto; "
                             src="{{ asset('bundles/images/avatar-def.png') }}" alt="" class="center tooltipped"
                        >
                    </p>
                </div>

            </div>
            <div class="row"  >
                <div class="file-field input-field" style="display: none;" >
                    <div class="btn">
                        <span>File</span>
                        <input id="fileupload_profile" type="file" name="files[]" data-url="{{ path( "upload_tmp_file" ) }}" /> <!-- page.url( 'FileUpload' , 'uploadUserAvatar' ) -->
                    </div>
                </div>

                <div style="clear:both;" > </div>

                <div id="progress_profile" class="progress" style="display: none;" >
                    <div class="determinate" style="width: 0%"> </div>
                </div>
            </div>

        </div>

    </form>

</div>

{% endblock %}


{% block javascripts %}
    <script type="text/javascript" src="{{ asset('bundles/ankieter_api/widget/SelectableCollection.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/ankieter_api/widget/ListView.js') }}"></script>

    <script type="text/javascript" >
        $(document).ready(function(){


            var subscriberList = $('#subscriberList').ListView({
                viewTemplate : "subscriber_list_template",
                onChange : function ( items ){
                    console.log( items );
                }
            });

            var groupList = $('#groupList').SelectableCollection({
                onChange : function ( items ){
                    subscriberList.setData( items );
                }
            });
            
            $('.modal-trigger').leanModal();

        });

        var picture_box_onfileuploaded = null;

        function notyfiError(  err ){
            Materialize.toast( err , 4000 , 'red darken-3' );
        }

        $(function () {

            $('#fileupload_profile').fileupload({
                dataType: 'json',
                add: function (e, data) {

                    data.formData = {user_id: $("#picture_edit_form").attr("data-user_id") };

                    $(this).attr( "data-url" , "" );

                    data.submit();
                    $('#progress_profile').css( "display" , "block" );
                },
                done: function (e, data) {
                    console.log( data.result );
                    if( data.result.success == 1 ){
                        src = "{{ asset('bundles/tmp/images/thumbnail/') }}" + data.result.file.name;
                        $("#profile_img").attr( "src" , src );
                        if( picture_box_onfileuploaded )
                            picture_box_onfileuploaded(src);
                    }else{
                        notyfiError(data.result.file.error);
                    }

                    $('#progress_profile').delay( 500 ).fadeOut( 800 , function() {
                        $('#progress_profile .determinate').css('width','0%' );
                    });

                },
                progressall: function (e, data) {

                    var progress = parseInt(data.loaded / data.total * 100, 10);
                    $('#progress_profile .determinate').css(
                            'width',
                            progress + '%'
                    );
                },
                acceptFileTypes : "/(\.|\/)(gif|jpe?g|png)$/i",
                maxFileSize : 1500000
            });
        });

        var avatarsUrl = "{{ asset('bundles/tmp/images/') }}";
        var imagesUrl = "{{ asset('bundles/tmp/images/') }}";
        //------------------------------------------------------------------------------------
        function picture_upload_clear(){
            $("#profile_img").attr( "src" , "{{ asset('bundles/images/avatar-def.png') }}" );
        }
        //------------------------------------------------------------------------------------
        function picture_upload_setData( data ){
            if( data.avatar ){
                $("#profile_img").attr( "src" , avatarsUrl + data.avatar );
                console.log(avatarsUrl + data.avatar);
            }
            if(data.id_image ){
                $("#identy_img").attr( "src" , imagesUrl + data.id_image );
            }
        }
        //------------------------------------------------------------------------------------


    </script>
{% endblock %}

