
{% extends ':layout:base.html.twig' %}

{% block title %}Ankiety{% endblock %}

{% block stylesheets %}

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<style type="text/css" media="screen">

    a:link {
        color:black;
    }

    a:visited {
        color:black;
    }

    body {
        display: flex;
        min-height: 100vh;
        flex-direction: column;
    }

    main {
        flex: 1 0 auto;
    }

</style>

{% endblock %}

{% block content%}
<div class="" style="margin-top:25px;margin-left: 50px" >
    <h5>Ankiety</h5>

    <table class="highlight centered">
        <thead>
        <tr>
            <th>Nazwa </th>
            <th>Data utworzenia</th>
            <th>Data zakończenia</th>
            <th>Data planowanego zakończenia</th>
            <th>Szablon</th>
            <th>Akcje</th>
        </tr>
        </thead>

        <tbody>

        {% for form in forms %}


        <tr
                {% if form['is_active'] == false %}
                style = "color:darkgray"
                {% endif %}
        >
            <td>{{ form['formName'] }}</td>
            <td>{{ form['create_date'] }}</td>
            <td>{{ form['deadline'] }}</td>
            <td>{{ form['end_date'] }}</td>
            <td>{{ form['templateName'] }}</td>
            <td>
                {% if form['is_active'] == true %}
                    <a href="{{ path('stop_form',{'id' : form['formId']}) }}">
                        <i class="small material-icons">pause</i>
                    </a>
                {% else %}
                    <a href="{{ path('get_form_result',{'id' : form['formId']}) }}">
                        <i class="small material-icons">import_export</i>
                    </a>

                {% endif %}

                <a target="_blank" href="{{ path('view_templates', {'template_id' : form['templateId']})}}">
                    <i class="small material-icons">visibility</i>
                </a>
            </td>

        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}


{% block javascripts %}

{% endblock %}

